<!doctype html>
<html>
<head>
  <title><%= appName %></title>
  <meta charset="utf-8">

  <!-- build:js js/libs.js -->
  <script src="js/bower_components/phaser/phaser.js"></script>
  <!-- endbuild -->

  <!-- build:js(.tmp) js/<%= _.slugify(appName) %>.js -->
  <% if (shallIncludePreloader) { %><script src="js/play_scene.js"></script> <% } %>
  <script src="js/main.js"></script>
  <!-- endbuild -->
  <style>
    canvas {
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <article>
    <div id="game"></div>
  </article>
</body>
</html>
